body {
    background-color: rgb(41, 127, 231);
}

h1 {
    color: rgb(35, 50, 188);
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

p {
    color: rgb(167, 30, 64);
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
 
      #blue-bordered {
            border-width: 5px;
            border-style: solid;
            background-color: hsl(333, 100%, 50%);
            padding: 25px;
            margin: 25px;
            
        }
        
        h2 {
            border-width: 5px;
            border-style: solid;
            background-color: rgb(115, 0, 255);
            padding: 25px;
            margin: 25px;
            
        }